# Compiled output
**/.esbuild
**/.serverless
**/.build
**/__build
**/__cache

# Node
node_modules
*.log*
.pnpm-debug.log*
*.jsbundle
.swc/
*.tsbuildinfo
*.0x

# Environments
**/.env.*

# Node (yarn)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-debug.log*
yarn-error.log*

# Tests
.coverage*
test-results
coverage

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
**/*.zip
.cache
.sass-cache
connect.lock
libpeerconnection.log
testem.log
typings

# Cloudfare
.wrangler

# System Files
.DS_Store
Thumbs.db

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android
.gradle
local.properties
*.iml
*.hprof
.cxx/

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/

# Certificates
**/*.pem

# Python
**/.venv
__pycache__
.pytest_cache
.mypy_cache
.test
