jobs:
  ping:
    docker:
      - auth:
          password: ${CONTAINER_PASSWORD}
          username: ${CONTAINER_USERNAME}
        image: docker.io/${CONTAINER_USERNAME}/tool_task:latest
    steps:
      - run:
          command: run pt
          name: ping
version: 2.1
workflows:
  ping:
    jobs:
      - ping
    triggers:
      - schedule:
          cron: 0 0 * * *
          filters:
            branches:
              only:
                - main
