jobs:
  build and publish tools:
    docker:
      - auth:
          password: ${CONTAINER_PASSWORD}
          username: ${CONTAINER_USERNAME}
        image: cimg/base:stable
    steps:
      - checkout
      - setup_remote_docker
      - run:
          command: docker build --no-cache --file
            packages/lib-config-js/src/container/node/Dockerfile --tag
            docker.io/ygmindev/tool_task:latest --platform linux/amd64
            --build-arg NODE_VERSION=22 --build-arg PKG_NAME=tool-task-js
            --build-arg SERVER_APP_PORT=10000 .
          name: build
      - run:
          command: echo "$CONTAINER_PASSWORD" | docker login "$CONTAINER_HOST" -u
            "$CONTAINER_USERNAME" --password-stdin && docker push
            "docker.io/ygmindev/tool_task:latest"
          name: publish
  ping:
    docker:
      - auth:
          password: ${CONTAINER_PASSWORD}
          username: ${CONTAINER_USERNAME}
        image: docker.io/ygmindev/tool_task:latest
    steps:
      - run:
          command: cd /app && npm run run pt
          name: ping
version: 2.1
workflows:
  build and publish tools:
    jobs:
      - build and publish tools
    when: pipeline.git.branch == "main"
  ping:
    jobs:
      - ping
    triggers:
      - schedule:
          cron: 0 0 * * *
          filters:
            branches:
              only:
                - main
