jobs:
  ping:
    docker:
      - auth:
          password: ${CONTAINER_PASSWORD}
          username: ${CONTAINER_USERNAME}
        image: docker.io/${CONTAINER_USERNAME}/tool_task:latest
    steps:
      - run:
          command: node /app/packages/tool-task-js/src/cli.js pt
          name: ping
version: 2.1
workflows:
  ping:
    jobs:
      - ping
    when: pipeline.git.branch == "main"
