version: 2.1

jobs:
  build-and-publish:
    docker:
      - image: cimg/base:2024.01
    steps:
      - checkout
      - setup_remote_docker:
          version: "20.10.24"
      - run:
          name: Build and push
          command: ./packages/tool-task-js/src/cli.jsn cp --is-build=true --name=python --app=service_server
  run-scheduled-job:
    docker:
      - image: ${CONTAINER_USERNAME}/python:latest
        auth:
          username: $CONTAINER_USERNAME
          password: $CONTAINER_PASSWORD
    environment:
      NODE_ENV: production
    steps:
      - run: python /app/packages/service-server-py/src/ping.py

workflows:
  build:
    jobs:
      - build-and-publish:
          filters:
            branches:
              only: main
  scheduled:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only: main
    jobs:
      - run-scheduled-job
